<ion-view>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Basic Usage
      </div>
      <div class="item item-text-wrap">
        <p>
          Enter your scrabble characters into <strong>Available Characters</strong> box. And enter your desired
          format into <strong>Word Format</strong> box.<br>
          <small>Look at the list of available formatting options</small>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Formatting Options
      </div>
      <div class="item item-text-wrap centre-first-col">

        <div class="row row-header">
          <div class="col">
            Character
          </div>
          <div class="col">
            Definition
          </div>
        </div>

        <div class="row">
          <div class="col">
            |
          </div>
          <div class="col">
            One or none of any characters in <strong>Available Characters</strong> (may or may not exist)
          </div>
        </div>

        <div class="row">
          <div class="col">
            ?
          </div>
          <div class="col">
            One of Any characters in <strong>Available Characters</strong>
          </div>
        </div>

        <div class="row">
          <div class="col">
            _
          </div>
          <div class="col">
            Single character from <strong>A-Z</strong>
          </div>
        </div>

        <div class="row">
          <div class="col">
            !
          </div>
          <div class="col">
            One or none of any characters from <strong>A-Z</strong> (may or may not exist)
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
