<ion-view view-title="Solver">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Available Characters</span>
        <input type="text" ng-model="characters" reg-ex-input reg-ex="^[a-z]+$" placeholder="Characters to to choose from">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Word format</span>
        <input type="text" ng-model="wordFormat" reg-ex-input reg-ex="^[\?_\!\|a-z]+$" placeholder="Format the word">
      </label>
      <label class="item item-toggle">
        Prevent Duplicates
        <label class="toggle">
          <input type="checkbox" ng-model="preventDuplicates" ng-change="changeToggle()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>

      <label class="item item-input item-stacked-label" ng-show="preventDuplicates">
        <span class="input-label">Whitelisted duplicates</span>
        <input type="text" ng-model="settings.duplicatesWhitelist" reg-ex-input reg-ex="^[a-z]+$" placeholder="enter a set of characters to whitelist for duplication">
      </label>


      <button class="button ion-search button-block button-balanced" ng-click="findMatch(characters, wordFormat)">
        Find Match
      </button>
    </div>

    <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-search"></i>
        <input placeholder="Search within result" type="text" ng-model="resultSearch">
      </div>
    </div>

    <div class="card result-list" ng-if="matches.length > 0">
      <div class="item item-divider">Found {{ matches.length }} words </div>
      <div class="item" ng-repeat="item in matches | filter:resultSearch track by $index">
        {{ item }}
      </div>
    </div>
    <div class="card" ng-show="matches.length == 0 && !searching">
      <div class="item item-assertive">
        No results found {{ matches.length }}
      </div>
    </div>

  </ion-content>
</ion-view>
