<ion-view view-title="Solver">
  <ion-content>
    <div class="list list-inset">
      <form name="form">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Available Characters</span>
          <input type="text" ng-model="characters" name="charSet" reg-ex-input reg-ex="^[a-z]+$" placeholder="Characters to to choose from" required>
        </label>

        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors': form.wordFormat.$invalid }">
          <span class="on-error pull-right">
              <i class="icon ion-alert-circled"></i>
          </span>
          <span class="input-label">Word format</span>
          <input type="text" ng-model="wordFormat" name="wordFormat" reg-ex-input reg-ex="^[\?_\!\|0-9a-z]+$" ng-pattern="/^([0-9]*[\?_\!\|a-z])+$/" placeholder="Format the word" required>
        </label>
        <label class="item item-toggle">
          Prevent Duplicates
          <label class="toggle">
            <input type="checkbox" ng-model="preventDuplicates" ng-change="changeToggle()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
      </form>

      <label class="item item-input item-stacked-label" ng-show="preventDuplicates">
        <span class="input-label">Whitelisted duplicates</span>
        <input type="text" ng-model="settings.duplicatesWhitelist" reg-ex-input reg-ex="^[a-z]+$" placeholder="enter a set of characters to whitelist for duplication">
      </label>


      <button class="button ion-search button-block button-balanced" ng-class="{ 'disabled': form.$invalid }" ng-disabled="form.$invalid" ng-click="findMatch(characters, wordFormat)">
        Find Match
      </button>
    </div>

    <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-search"></i>
        <input placeholder="Search within result" type="text" ng-model="resultSearch">
      </div>
    </div>

    <div class="card result-list" ng-if="matches.length > 0">
      <div class="item item-divider">Found {{ matches.length }} words overall</div>
      <div class="item" ng-repeat="item in matches | filter:resultSearch track by $index">
        {{ item }} : {{ matchDic[item] }}
      </div>
    </div>
    <div class="card" ng-show="matches.length == 0 && !searching">
      <div class="item item-assertive">
        No results found {{ matches.length }}
      </div>
    </div>

  </ion-content>
</ion-view>
